body {
	background-color: black;
	font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

header {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

header img {
	width: 100%;
	height: auto;
	max-width: 100px;
}

.tagline {
	color: white;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 5px;
}

.company-logo p {
	font-size: 1.5rem;
}

nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	list-style: none;
	text-align: center;
	background-color: forestgreen;
	font-size: 1.5em;
	color: white;
}

section {
	display: flex;
}

article {
	flex: 1;
	/* text-align: center; */
}

.col-section {
	border: 3px solid lightgreen;
	background-color: rgb(152, 184, 152);
}

.article-columns {
	border: 2px solid white;
}

.col-img {
	max-width: 100%;
	height: 100%;
}

.promo-banner {
	height: 30vw;
	width: 100%;
}

h3 {
	font-style: times
}

h3 ~ p {
	text-align: left;
}

footer {
	display: flex;
}

footer > div {
	flex: 1;
	text-align: center;
}

div > img {
	width: 100%;
	height: auto;
	max-width: 100px;
}













